*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
}
.head{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:48px;
    background: #E8BBA8;
    position:sticky;
    position: -webkit-sticky;
    top:0px;
    z-index:1;
}
.head img{
    cursor:pointer;
}
.list{
    display:flex;
    list-style-type: none;
    align-items:center;
}
.config{
    margin-left: 80px;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #461B09;
}
.content{
    margin-top:108px;
    margin-bottom: 200px;
}
.tittle-formato{
    width:714px;
}
h1{
    font-family: 'Merriweather', serif;;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}
.first-paragraph{
    margin-top: 56px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.images{
    margin-top: 135px;
    display:flex;
    justify-content: center;
}
.second-paragraph{
    margin-top:121px;
}
.img-left{
    position:relative;
}
.img-right{
    position:relative;
    right:50px;
    bottom:30px;
}
.modal{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    display:none;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.6);
}